.signupContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(background.svg);
  overflow: hidden;
}


.signupForm {
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.signupForm input {
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.signupForm button {
  font-size: 1.5rem;
  vertical-align: middle;
  background-color: transparent;
  border: solid 0.1rem rgba(0, 0, 0, 0.356);
  padding-block: 0.5rem;
  border-radius: 20px;
}

.signupForm p {
  padding-top: 0.5rem;
}

.signupForm p:hover {
  color: rgb(31, 78, 119);
  text-decoration: underline;
  cursor: pointer;
}

.signupForm button:hover {
  background-color: rgb(141, 184, 222);
  color: white;
  cursor: pointer;
}

.googleSignin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.googleLogo {
  max-width: 1.5rem;
  vertical-align: middle;
}



@media (max-width: 768px) {



  .signupForm {
    padding: 2rem; 
    max-width: 90%;
  }

  .signupForm input,
  .signupForm button {
    font-size: 1.2rem; 
    padding: 0.4rem;
  }

  .googleSignin {
    flex-direction: column;
    align-items: center;
  }

  .googleLogo {
    max-width: 1.5rem; 
  }
}

@media (max-width: 480px) {
 

  .signupForm {
    padding: 1.5rem; 
  }

  .signupForm input,
  .signupForm button {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
